.section-faq {
    width: 100%;
    margin: 3rem 0;
}

.section-faq .container {
    max-width: 1240px;
    padding: 1rem;
    margin: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.section-faq h3 {
    font-size: 28px;
    padding: 1rem 0;
}
.section-faq p, .section-faq span, .section-faq h3, .section-faq h5 {
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

/* Effet hover pour le texte de la balise <p> */
.section-faq p:hover {
    transform: translateX(10px); /* Translation horizontale vers la droite */
    color: #28a745; /* Changement de couleur lors du hover */
}

/* Effet hover pour le texte dans la balise <span> */
.section-faq span:hover {
    transform: translateY(-5px); /* Translation verticale vers le haut */
    color: #28a745; /* Changement de couleur lors du hover */
}

/* Effet hover pour le texte des balises <h3> */
.section-faq h3:hover {
    transform: translateY(-10px); /* Translation verticale vers le haut */
    color: #28a745; /* Changement de couleur lors du hover */
}

/* Effet hover pour le texte des balises <h5> */
.section-faq h5:hover {
    transform: translateX(5px); /* Translation horizontale vers la droite */
    color: #ffc107; /* Changement de couleur lors du hover */
}


.section-faq .col-1 p {
    color: var(--grey);
}

.section-faq span {
    color: var(--primary);
}

.section-faq h5 {
    font-size: 1rem;
    padding: .4rem 0;
}

.section-faq .faq {
    padding: 1.2rem 0;
}

.section-faq .faq p {
    color: var(--grey);
}


@media screen and (max-width:960px) {
    .section-faq {
        margin: 1rem 0;
    }

    .section-faq .container {
        grid-template-columns: 1fr;
    }
}




